<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NerdBot</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            height: 100%;
            width: 100%;
        }
        body {
            font: 12px Helvetica, Arial;
            margin: 0;
            height: calc(100% - 50px);
            width: 100%;
        }
        .container {
            height: 90%;
            width: 100%;
        }
        .panel {
           height: 90%;
           width: 100%;
        }

        th.dt-center, td.dt-center { text-align: center; }
        table.dataTable tr.odd { background-color: #efefef; } 
        table.dataTable tr.even { background-color: white; }
    </style>

    <script src="@Path['~/Content/js/jquery-3.2.1.min.js']"></script>
    <script src="@Path['~/Content/js/jquery.validate.js']"></script>
    <script src="@Path['~/Content/js/additional-methods.js']"></script>
    <script src="@Path['~/Content/js/bootstrap.min.js']"></script>
    <link rel="stylesheet" href="@Path['~/Content/css/bootstrap.min.css']">
    <link rel="stylesheet" href="@Path['~/Content/css/keyrune.css']">
    <link rel="stylesheet" href="@Path['~/Content/css/mana.css']">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css">
</head>

<body>
    @Partial['partial/header.html'];

<div class="container-fluid">
    <div class="input-group">
        <input id="search-term" type="text" class="form-control search-term" placeholder="Term to search for in card name, rules text or sub-type. E.g. To search for the term 'vampire' appears and 'wooden' does not: Vampire -wooden ">
        <span class="input-group-btn">
            <button id="btn-search" class="btn btn-default" type="button">Search</button>
        </span>
    </div><br/>

    <table id="cards-table" class="display responsive nowrap table-hover stripe row-border" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="col-md-1 dt-body-center"><small>Set</small></th>
            <th class="col-md-1"><small>Name</small></th>
            <th class="col-md-1"><small>Cost</small></th>
            <th class="col-md-2"><small>Type</small></th>
            <th class="col-md-6"><small>Text</small></th>
            <th class="col-md-1"><small>Price - Mid</small></th>
            <th class="col-md-1"><small>Price - Low</small></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    $(function ()
    {
        var table = $('#cards-table').DataTable(
            {
                'ajax' : {
                    'url' : "/api/search/",
                    'type' : "GET",
                    'dataSrc' : "cards"
                },
                responsive: true,
                'deferRender' : true,
                "processing": true,
                'searching': false,
                'columns' : [
                    { "data" : "symbol" },
                    { "data" : "name" },
                    { "data" : "costSymbols" },
                    { "data": "type" },
                    { "data": "descSymbols" },
                    { "data" : "prices.mid" },
                    { "data" : "prices.low" },
                    { "data" : "img" },
                    { "data" : "multiverseId" },
                    { "data" : "convertedManaCost" }
                 
                ],
                'columnDefs': [
                    {
                        'width': '10px', 'className': 'dt-center', 'targets': 0,
                    },
                    {
                        "render" : function(data, type, row) {
                            return `<a rel="popover" role="button" class="btn popovers" data-toggle="popover" data-img="${row.img}" href="/ruling/${row.multiverseId}" target="_blank">${data}</a>`;
                        },
                        'targets' : 1
                    },
                    {
                        'targets':  2,
                        'orderData': 9
                    },
                    { 'visible': false,  'targets': [ 7, 8, 9 ] }
                ],
                drawCallback: function() {
                    $('[data-toggle=popover]').popover({
                        "html": true,
                        trigger: 'hover',
                        placement: 'right',
                        container: 'body',
                        content: function() { return '<img src="' + $(this).data('img') + '" style="width: 100%"/>'; }
                    })
                }
            });

        var timeout_id = null;
        $('#search-term').keyup(function(e) {
            clearTimeout(timeout_id);

            var search_term = $('#search-term').val();

            if (search_term) 
            {
                timeout_id = setTimeout(() => table.ajax.url('/api/search/' + search_term).load(), 500);
            }
        });

        $('#btn-search').click(function ()
        {
            var search_term = $('#search-term').val();

            if (search_term)
            {
                table.ajax.url('/api/search/' + search_term).load();
            }

        });
    });
</script>
@Partial['partial/footer.html'];
</body>

</html>