<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search results for '@Model.SearchTerm' - NerdBot</title>
    
    <script src="@Path['~/Content/js/jquery-3.2.1.min.js']"></script>
    <script src="@Path['~/Content/js/jquery.validate.js']"></script>
    <script src="@Path['~/Content/js/additional-methods.js']"></script>
    <script src="@Path['~/Content/js/bootstrap.min.js']"></script>
    <link rel="stylesheet" href="@Path['~/Content/css/bootstrap.min.css']">
	<link rel="stylesheet" href="@Path['~/Content/css/keyrune.css']">
    <link rel="stylesheet" href="@Path['~/Content/css/mana.css']">
      
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>
	    * {
	        margin: 0;
	        padding: 0;
	        box-sizing: border-box;
	    }

	    html {
	        height: 100%;
	        width: 100%;
	    }
	    body {
	        font: 12px Helvetica, Arial;
	        margin: 0;
	        height: calc(100% - 50px);
	        width: 100%;
	    }
	    .container {
	        height: 90%;
	        width: 100%;
	    }
	    .panel {
	        height: 90%;
	        width: 100%;
	    }

	    .panel-body {
	        height: 100%;
	        width: 100%;
	    }

	    th.dt-center, td.dt-center { text-align: center; }
	</style>
  </head>
  <body>
  @Partial['partial/header.html'];

	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading"><b>Seach Term:</b> '@Model.SearchTerm'</div>
			<div class="panel-body" style="overflow-y: scroll; height: 90%">

				<table id="cards-table" class="table table-sm display responsive nowrap table-hover stripe row-border" cellspacing="0" width="100%">
					<thead>
					<tr>
					    <th class="col-md-2"><small>Set</small></th>
					    <th class="col-md-2"><small>Name</small></th>
					    <th class="col-md-9"><small>NerdBot Command</small></th>
					</tr>
					</thead>
					<tbody>
					@If.HasCards
						@Each.Cards
					<tr>
					    <td>
					        <a href="http://gatherer.wizards.com/Pages/Search/Default.aspx?action=advanced&set=[%22@Current.SetName%22]" target="_blank">
					            @Current.SetAsKeyRuneIcon
					        </a>
					    </td>
					    <td>
					        <a rel="popover" role="button" class="btn popovers" data-toggle="popover" data-img="@Current.Img" href="/ruling/@Current.MultiverseId" target="_blank">@Current.Name</a>
					    </td>
					    <td>img @Current.SetId&#59;@Current.Name</td>
					</tr>
						@EndEach
					@EndIf
					</tbody>
					
				</table>
			</div>
		</div>
	</div>

	<script>
	$(function ()
	{
	    var table = $('#cards-table').DataTable({
	        responsive: true,
	        drawCallback: function () {
	            $('[data-toggle=popover]').popover({
	                "html": true,
	                trigger: 'hover',
	                placement: 'right',
	                container: 'body',
	                content: function () { return '<img src="' + $(this).data('img') + '" style="width: 100%"/>'; }
	            })
	        },
	        'searching': false,
	        'columnDefs': [
	        {
	            'width': '10px', 'className': 'dt-center', 'targets': 0,
	        }]
	    });
	});
	</script>
  </body>
</html>

