<?xml version="1.0" encoding="utf-8" ?>
<NerdBot.Properties.Settings>
  <!-- The bot's ID as specified by GroupMe -->
  <setting name="BotId" serializeAs="String">
    <value>BOT_ID</value>
  </setting>
  <!-- The name of the bot in the GroupMe bot configuration. This is to prevent the bot from responding to itself. -->
  <setting name="BotName" serializeAs="String">
    <value>BOT_NAME</value>
  </setting>
  <!-- The GroupMe bots end point url. -->
  <setting name="EndPointUrl" serializeAs="String">
    <value>https://api.groupme.com/v3/bots/post</value>
  </setting>
  <!-- Secret 'route key' that the GroupMe bot is configure to post to. This is to try and prevent unauthorized posting to the bot
  e.g. http://localhost:6000/MYSECRETKEY -->
  <setting name="RouteKey" serializeAs="String">
    <value>TOKEN</value>
  </setting>
</NerdBot.Properties.Settings>
