<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.Set.Name - NerdBot</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 10px Helvetica, Arial;
        }

        .container {
            margin: 5px;
            padding: 5px;
            height: 100%;
        }

        .alert {
            display: none;
        }
    </style>

    <script src="@Path['~/Content/js/jquery-3.2.1.min.js']"></script>
    <script src="@Path['~/Content/js/jquery.validate.js']"></script>
    <script src="@Path['~/Content/js/additional-methods.js']"></script>
    <script src="@Path['~/Content/js/bootstrap.min.js']"></script>
    <link rel="stylesheet" href="@Path['~/Content/css/bootstrap.min.css']">
    <link href="@Path['~/Content/css/mana.css']" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="@Path['~/Content/css/keyrune.css']">

</head>

<body>
    @Partial['partial/header.html'];

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Model.Set.Name<br/>

        </div>
        <div class="panel-body" style="overflow-y: scroll; height: 90%">

            <table id="user-table" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="col-md-1"><small>ID</small></th>
                    <th class="col-md-1"><small>Set</small></th>
                    <th class="col-md-2"><small>Name</small></th>
                    <th class="col-md-2"><small>Cost</small></th>
                    <th class="col-md-6"><small>Type</small></th>
                </tr>
                </thead>
                <tbody>
                @Each.Cards
                <tr>
                    <td><a rel="popover" data-img="@Current.Img" href="/ruling/@Current.MultiverseId">@Current.MultiverseId</a></td>
                    <td><i class="ss @Current.SetAsKeyRuneIcon ss-2x"></i></td>
                    <td>@Current.Name</td>
                    <td>@Current.Cost</td>
                    <td>@Current.FullType</td>
                </tr>
                @EndEach
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script>
        $(function ()
        {
            $('a[rel=popover]').popover(
                {
                html: true,
                trigger: 'hover',
                placement: 'right',
                container: 'body',
                content: function () { return '<img src="' + $(this).data('img') + '" style="width: 100%"/>'; }
            });
    });
    </script>
</body>

</html>